<div style="font-size: 12px; text-align: left; border-top: 1px solid; border-color: var(--code);">
<p>Hosted by <a href="https://micro.blog">Micro.blog</a></p> 
<p>Powered by <a href="https://tiny.micro.blog">Tiny Theme</a>.
    Designed with ♥ by <a href="https://www.mattlangford.com">Matt Langford</a>.</p>
<p>This site uses the font <a href="https://www.velvetyne.fr/fonts/compagnon/" target="_blank" title="Compagnon - Velvetyne" alt="Link to font on Velvetyne website.">Compagnon</a> by Juliette Duhé, 
    Léa Pradine, Valentin Papon, Chloé Lozano, Sébastien Riollier. 
    Distributed by <a href="https://www.velvetyne.fr/" target="_blank" title="Velvetyne Website" alt="link to Velvetyne website">Velvetyne.fr</a></p>
</div>